<!DOCTYPE html>
<html>
<head>
  <title>BusMe</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Font Awesome... Beacause it's Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<div class="row">
    <div class="logo">
    <%= image_tag 'busmelogo.png' %>
    </div><!--logo-->

  </div> <!--row-->

<div class="container-fluid">


    <div class="row">
      <div class="col-xs-12">

        <%= yield %>

      </div><!--col-xs-12-->
    </div> <!--row-->
</div><!--container-fluid-->

</body>
</html>
